body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    min-height: 100vh;
}

.country-detail-container {
    width: 90%;
    max-width: 1200px;
    background-color: white;
    padding: 20px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    margin: 20px;
}

#country-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    margin-bottom: 50px;
}

#country-detail img {
    width: 100%;
    max-width: 450px;
    height: auto;
    margin-bottom: 20px;
}
.flag-img{
    margin-right: 50px;
}

#country-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
    width: 100%;
}

.info-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
    max-width: 600px;
}

#country-info h1 {
    margin-top: 0;
}

#country-info p {
    margin: 5px 0;
}

#neighbor-countries {
    text-align: center;
    border: 2px solid #ccc;
    padding: 20px;
    margin-top: 20px;
    width: 100%;
    box-sizing: border-box;
}

#neighbor-countries h2 {
    margin-bottom: 20px;
}

#neighbor-flags {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Default to 1 column */
    gap: 20px;
    justify-items: center;
}

#neighbor-flags img {
    width: 100%;
    max-width: 270px;
    height: 180px;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); */
}

@media (min-width: 768px) {
    #country-detail {
        flex-direction: row;
    }

    .info-details {
        margin-left: 20px;
    }

    #neighbor-flags {
        grid-template-columns: repeat(2, 1fr); /* 2 columns for medium screens */
    }
}

@media (min-width: 1200px) {
    #country-detail {
        justify-content: flex-start;
    }

    #neighbor-flags {
        grid-template-columns: repeat(3, 1fr); /* 3 columns for large screens */
    }
}
