body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    min-height: 100vh;
}

.country-detail-container {
    width: 90%;
    max-width: 1200px;
    background-color: white;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

#country-detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-top: 20px;

}

#country-detail img {
    width: 450px;
    height: auto;
    margin-right: 20px;
}

#country-info {
    display: flex;
    flex-direction: row;
}
.info-details{
    margin-left: 20px;
}

#country-info h1 {
    margin-top: 0;
}

#country-info p {
    margin: 5px 0;
}

#neighbor-countries {
    text-align: center;
    border: 2px solid #ccc;
    padding-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

#neighbor-countries h2 {
    margin-bottom: 20px;
    margin-left: 20px;
    text-align: left;
}

#neighbor-flags {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-left: 10px;
}

#neighbor-flags img {
    width: 200px;
    height: auto;
    margin: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.name{
    margin-right: 60px; 
}